
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f6ecec;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .register_container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register_container section{
    border: 0px solid #000;
    padding:67px;
    margin-top: 15px;
    box-shadow: rgba(8, 89, 129, 0.35) 0px 5px 15px;
  }
  
  h2 {
    text-align: center;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  
  button:hover {
    background-color: #0056b3;
  }
  


  

  .login_container{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login_container section{
    border: 0px solid #000;
    padding:67px;
    box-shadow: rgba(8, 89, 129, 0.35) 0px 5px 15px;
  }


  /* Hero Section */

  .hero_section{
    margin-top: 20px;
  }